body {
    background-image: url(../images/background.jpeg) ; /* путь к фоновому изображению, НЕ ЗАБЫТЬ ПОСТАВИТЬ ../ ИНАЧЕ ФАЙЛ НЕ ОТКРОЕТСЯ */ 
    background-attachment: fixed; 
    
    /*fixed
        Фон фиксируется относительно области просмотра. Даже если элемент имеет механизм прокрутки, фон не перемещается вместе с элементом. (Это значение несовместимо с background-clip: text.)
    local
        Фон фиксируется относительно содержимого элемента. Если элемент имеет механизм прокрутки, фон прокручивается с содержимым элемента, и область рисования фона и область позиционирования фона относятся к прокручиваемой области элемента, а не к границе, обрамляющей их.
    scroll
        Фон фиксируется относительно самого элемента и не прокручивается с его содержимым. (Он фактически прикреплён к границе элемента.)
    */    
}

h2 {
    text-transform: uppercase;
    text-align: center
}
