* {
    box-sizing: border-box;
}
body { 
    font-size: 20px; /* размер шрифта */
    background-color: #E0F2F1;

}
h1 {
    text-transform: uppercase;
    text-align: center;
    background-color: #FFF176;
    padding-top: 3px;
    padding-bottom: 3px;
}

.item {
    width: 100%;
    height:200px;
    object-fit: cover;

}
a { 
    color: #000000;
    text-transform: capitalize;
    font-weight: 700; 
}
img {
    width: 33%;
    height: auto;
}
.river {
    opacity: 0.2;
}
.tol {
    opacity: 0.5;
}
.toll {
    opacity: 0.9;;
}
.block img {
    display: inline-block;
}