@import "flex-grid.css"; /* импорт содержимого css файла в текущую таблицу */

.container {
  max-width: 1200px; /* максимальная ширина  */
  margin: 0 auto; /* отступ от каждого края элемента, auto указывает что размер отступов будет автоматически расчитан браузером */
}

nav > a {
  text-decoration: none; /* стиль шрифта */
  color: #212121; /* цвет текста */
  display: flex;
  flex-grow: 1; /* Свойство определяет коэффициент роста одного flex-элемента относительно других flex-элементов в flex-контейнере при распределении положительного свободного пространства. */
  justify-content: center; /* выравнивание элементов по центру */
  padding: 10px 0; /* отступы сверху и снизу */
}

a:hover {
  background-color: #78909C;  /* показывает стиль элемента при наведении мыши, не нажав на него */
}  