@import url(flex-grid.css);
.container {
    max-width: 1200px;
    margin: 0 auto;
}

body{
    margin: 0;
    font-size: 20px;
}
.logo {
    color: black;
    font-size: 10px;
}
.menu {
    background-color: #607D8B;
    padding: 10px 0px;
}

.justify-content {
    display: flex;
    justify-content: space-around;
}

aside  {
    background-color: #E0E0E0;
}

.margin-left {
    margin-left: auto;
    padding-right: 20px;
    padding-top: 15px;
}

footer {
    text-align: left;
    background-color: #607D8B;
    color: black;
    padding: 10px;
}

section > div {
    background-color: #BDBDBD;
    border: 5px solid white;
    padding: 5px;
}

.nav > a , footer {
    color: black;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
}
.category {
        text-align: left;
        background-color: #607D8B;
        color: black;
        padding: 10px;
}

.nav a {
    padding-top: 15px;
    padding-bottom: 20px;
}

section {
    margin: 5px; /* отступы */
}
.flex-end {
    display: flex;
    align-items: flex-end;
}